@model IEnumerable<string>

@{
    string[] categoryNames = { "Гелиевые шары", "Фигуры из шаров", "Композиции", "Оформление праздников" };
    string[] categoryNamesEng = { "Гелиевые", "Фигуры", "Композиции", "Оформление" };
}

<div class="third-block">
    <nav class="sort-navigation">
        <ul>
            @for (int i = 0; i < 4; i++)
            {
                <li>
                    @Html.RouteLink(categoryNames[i], new { controller = "Good", action = "List", category = categoryNamesEng[i] },
                                                        new { @class = categoryNamesEng[i] == ViewBag.SelectedCategory ? "sort-navigation-selected" : null })
                </li>
            }
        </ul>
    </nav>
</div>